.header {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url("../img/header_background_compressed.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
    height: 100vh;

    blockquote {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 60%;
        margin: 0 20%;
        
    }
}