.form-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.form {
    padding: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-off-white;
    color: $color-grey-dark;
    width: 40%;
    
    &__close {
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 3rem;
        line-height: 1;
        cursor: pointer;
        color: $color-grey-dark;
    }
    
    &__field {
        margin-bottom: 2rem;
    }
    
    &__label {
        font-size: 2rem;
        display: block;
        margin-bottom: 1rem;
    }

    &__input,
    textarea {
        display: block;
        width: 100%;
        padding: 1rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        font-size: 1.8rem;
        box-shadow: none;
    }

    &__btn,
    &__btn:active {
        padding: 1rem 3rem;
        font-size: 2rem;
        border-radius: 2rem;
        border: none;
        outline: none;
        color: $color-off-white;
        background-color: $color-primary-dark;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        margin-top: 3rem;
    }


}
