.nav,
.nav-2 {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 2rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
    // background-color: rgba(0,0,0,0.2);

    &__logo {
        width: 100%;
        max-width: 13rem;
        height: auto;
    }

    &__links {
        list-style: none;
        display: flex;
        
        li:not(:last-child) {
            margin-right: 3rem;
        }
    }
    
    
    &__link {
        color: $color-off-white;
        padding: 0 1rem 1.5rem;
        border-bottom: 3px solid transparent;
        transition: border .3s;

        &:hover {
            border-bottom: 3px solid #fcbf49;
        }

    }
}

.nav-2 {
    color: $color-grey-darker;
    background-color: #ffffff;
    display: none;
    
    &__link {
        color: $color-grey-dark;
    }
}

.fixed {
    padding: 2rem 7rem;
    display: flex;
    position: fixed;
    transition: transform 1s;
    animation: navAnimation 0.7s linear both;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}