.nav {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 2.5rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
    // background-color: rgba(0,0,0,0.2);

    &__logo {
        width: 100%;
        max-width: 13rem;
        height: auto;
    }

    &__links {
        list-style: none;
        display: flex;
        
        li:not(:last-child) {
            margin-right: 3rem;
        }
    }
    
    
    &__link {
        text-decoration: none;
        color: $color-off-white;
        padding: 0 1rem 1.5rem;
        border-bottom: 3px solid transparent;
        transition: border .3s;

        &:hover {
            border-bottom: 3px solid #fcbf49;
        }

    }
}